.form-container {
  width: 100%;
  padding: 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.options-container {
  position: relative;
}

.text-container {
  width: 100%;
  padding: 8px 14px;
  padding-right: 40px;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 1.6;
  background-color: #f3f3f3;
  border-radius: 8px;
  border: 1px solid #ccc;
  color: #1e1e1e;
  overflow-wrap: break-word;
  outline: none;
  resize: none;
}

.input-container {
  width: 100%;
  padding: 8px 14px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #f3f3f3;
  border-radius: 8px;
  line-height: 1.6;
  border: 1px solid #ccc;
  color: #1e1e1e;
  overflow-wrap: break-word;
  outline: none;
  resize: none;
}

.label {
  font-size: 18px;
  font-weight: 700;
}

.btnTextAreaOpen {
  position: absolute;
  right: 0;
  margin: 8px 10px;
  cursor: pointer;
}

.button {
  border: 1.5px solid #5b1e87;
  border-radius: 8px;
  padding: 10px 16px;
  font-size: 18px;
  cursor: pointer;
  transition: all .3s ease;
  color: #fff;
  background-color: #6a1b9a;
  display: inline-block;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
}

.button:hover {
  background-color: #7e2ba9;
  border-color: #7e2ba9;
}

.button.cancel {
  background-color: #f9f9f9;
  color: black;
  border: 1.5px solid #f9f9f9;
}

.button.cancel:hover {
  background-color: #e6e6e6;
  border-color: #d4d4d4;
}

.katex {
  font: normal 1.21em KaTeX_Main, Times New Roman, serif;
  line-height: 1.2;
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
}

.katex-display {
  margin: 1em 0;
  text-align: center;
  overflow-x: auto;
  overflow-y: hidden;
}

.katex-display > .katex {
  white-space: normal;
  display: inline-block;
  text-align: left;
}

.react-select__menu {
  cursor: pointer !important;
  background-color: #f3f3f3 !important;
  color: #1e1e1e !important;
  margin-top: 0 !important;
}

.react-select__menu-list {
  cursor: pointer !important;
  padding: 0 !important;
}

.react-select__control {
  cursor: pointer !important;
  background-color: #f3f3f3 !important;
  color: #1e1e1e !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.react-select__menu {
  cursor: pointer !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-top: 1px solid #d1d5db !important;
  box-shadow: none !important;
}

.react-select__option--is-focused {
  cursor: pointer !important;
  background-color: #ddcce5 !important;
  color: black !important;
}

.react-select__option--is-selected {
  cursor: pointer !important;
  background-color: #7d4baa !important;
  color: white !important;
}

.react-select__control {
  cursor: pointer !important;
  border-color: #e0e0e0 !important;
}

.react-select__control--is-focused {
  cursor: pointer !important;
  border-color: transparent !important;
  box-shadow: 0 0 0 1px transparent !important;
}