@import "tailwindcss";

:root {
  --main-width: calc(100vw - var(--dropdown-width));
  --header-height: 64px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scrollbar-width: none !important;
}

*::-webkit-scrollbar {
  width: 0px !important;
  background: transparent !important;
}

body, html {
  height: 100%;
  margin: 0;
  /*background-color: #e0e0e0;*/
  background-color: #f5f5f5;
  overflow: hidden;

  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 18px;
  min-height: 100vh;
  height: 100vh;
  padding-top: var(--header-height);
  scroll-padding-top: var(--header-height); 
  background-color: #e0e0e0;
  overflow-y: auto;
}

.internal-div {
  max-width: 800px;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  main {
    min-height: 100dvh;
    height: 100dvh;
    border: none;
  }
}