html, body, #__next {
  height: 100%;
  margin: 0;
}

.play-container {
  max-width: 800px;
  width: 100%;
  overflow-y: auto;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -webkit-touch-callout: default;
}

.text-audio {
  background-color: #cacaca;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 12px;
}

.chat {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.text-title {
  font-weight: bold;
  font-size: 19px;
}

.placeholder-text {
  color: #666;
  opacity: 0.9;
  user-select: none;
  pointer-events: none;
  font-family: inherit;
}

textarea::placeholder {
  color: rgba(0, 0, 0, 0.4);
  opacity: 1;
}

.message {
  padding: 18px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  line-height: 1.4;
  border-radius: 16px;
  margin-bottom: 18px;
  width: 90%;
}

.answer-block {
  width: 100%;
  margin-top: 8px;
  user-select: text;
  resize: none;
  overflow: hidden;
}

textarea {
  outline: none;
  box-shadow: none;
}

textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
}

textarea:focus {
  outline: none;
  box-shadow: none;
}

.misterUniLogo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
}

.message.robot {
  color: black;
  align-self: flex-start;
  width: 100%;
  padding: 0px;
  box-shadow: none;
  border-radius: 0px;
}

.options {
  display: inline-flex;
  align-items: center;
  width: 100%;
  gap: 6px;
  margin-top: 24px;
}

.btnOption {
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  background-color: #7e2ba9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.btnOption.darkgreen {
  background-color: darkgreen;
}

.btnOption.disabled {
  background-color: #753eaa;
}

.btnSubmit {
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  background-color: #7e2ba9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 200px;
}

.message.human {
  background-color: #c0c0c0;
  color: black;
  align-self: flex-end;
}

.sentences {
  white-space: normal;
  line-height: 1.4;
  padding: 0px;
  box-shadow: none;
  width: 100%;
  border-radius: none;
}

.word {
  display: inline-block;
  white-space: nowrap; 
}

.sentence {
  display: inline;
  padding: 4px 6px;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
}

.sentence.active {
  background-color: #99a5d0;
}

.disabled {
  opacity: 0.6;
  transition: none;
  background-color: #555555;
}

progress.progress-bar {
  appearance: none;
  -webkit-appearance: none;
  overflow: hidden;
}

progress.progress-bar::-webkit-progress-bar {
  background-color: #9ca3af;
  border-radius: 8px;
}

progress.progress-bar::-webkit-progress-value {
  transition: background-color 0.2s ease, color 0.2s ease;
  background-color: #7e2ba9;
  border-radius: 8px;
  transition: width 0.4s ease;
}

progress.progress-bar::-moz-progress-bar {
  background: linear-gradient(to right, #2563eb, #4f46e5);
  border-radius: 8px;
}

@media (max-width: 768px) {
  .message,
  .answer-block .message.answer {
    font-size: 18px;
  }

  .misterUniLogo {
    position: static;
    left: auto;
    transform: none;
  }
}