.table {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  color: #222;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-top: 2px solid #bfbfbf;
}

.table > .element {
  font-size: clamp(16px, 1.67vw, 18px);
  display: flex;
  border-bottom: 2px solid #bfbfbf;
  transition: background-color 0.3s ease;
  cursor: pointer;
  user-select: none;
}

.wordsDescription {
  width: 100%;
  padding: 16px;
  margin: 0 auto;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  line-height: 1.4;
  color: black;
  margin-bottom: 12px;
}

.element-section {
  background-color: #cccccc;
  color: #000000;
}

.element-topic {
  background-color: #e7e7e7;
  color: #000000;
}

.topic-note {
  padding-left: 20px; 
  margin-top: 8px;
  width: 100%;
  font-size: clamp(16px, 1.67vw, 18px);
}

.text-topic-note {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.element-subtopic {
  background-color: #e7e7e7;
  color: #000000;
}

.element-task {
  background-color: #e0e0e0;
  color: #000000;
}

.not-finished {
  background-color: #d8c4c4;
}

.element-frequency {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 40px;
  max-width: 40px;
  margin: 8px;
}

.element-percent {
  padding: 5px;
  border: 1px solid grey;
}

.message.human.started,
.message.robot.started {
  background-color: #c0c0c0;
  color: #000000;
}

.started {
  background-color: transparent;
  color: #000000;
}

.message.human.completed,
.message.robot.completed,
.completed {
  background-color: #8aa887;
  color: #000000;
}

.success {
  background-color: #8c9f7e !important;
  color: #000000;
}

.vocabluary {
  background-color: #4d7a4d !important;
  color: #000000;
}

.vocabluary-progress {
  background-color: #B9AE68 !important;
  color: #000000;
}

.error {
  background-color: #d98d8d !important;
  color: #000000;
}

.message.human.progress,
.message.robot.progress,
.progress {
  background-color: #cbbf7f;
  color: #000000;
}

.completed.error {
  background: linear-gradient(to right, #8aa887 50%, #d98d8d 50%);
}

.element-subject-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  line-height: 1.4;
  font-size: 20px;
}

.text-audio {
  width: 100%;
  margin: 12px auto;
  margin-top: 0px;
  padding: 16px;
}

.element-icon {
  display: block;
  width: 25%;
  height: auto;
  object-fit: contain;
  margin-right: 16px;
  flex-shrink: 0;
  border-radius: 12px;
}

.element-name {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  white-space: normal;
  word-break: break-word;
  margin: 8px;
}

.element-word {
  display: flex;
  flex: 1 1 auto;
  white-space: normal;
  word-break: break-word;
  padding: 8px;
}

.element-options {
  display: flex;
  align-items: center;
  white-space: nowrap;
  flex-shrink: 0;
  word-break: normal;
  word-wrap: normal;
  margin: 8px;
  gap: 6px;
}

.element-word:first-child {
  flex: 2 1 auto;
}

.element:last-child {
  border-bottom: none;
}

.stats-column {
  flex: 0 0 auto;
  width: fit-content;
  text-align: center;
  min-width: 40px;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.checkBox {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s;
}

.element-subject {
  background-color: #cccccc;
  align-items: flex-start;
  padding: 12px;
}

.element-subject:hover {
  background-color: #b9b0cc;
}

.element-title {
  font-weight: bold;
}

.element-title-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
}

.word-default {
  background-color: #e7e7e7;
}

.btnSubjectOptionsEdit {
  align-self: flex-end;
  padding: 6px 8px !important;
}

.element-title-container > div {
  white-space: nowrap;
}

.percent {
  font-weight: bold;
}

.btnElement {
  cursor: pointer;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .table#subject {
    margin-top: 0px;
  }

  .element-icon {
    width: 40%;
  }

  .element-subject-options {
    font-size: 18px;
  }

  .button {
    font-size: 16px;
  }

  .text-topic-note {
    font-size: 18px;
  }
}