.table {
  max-width: 800px;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  color: #222;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-top: 2px solid #bfbfbf;
}

.table > .element {
  font-size: clamp(16px, 1.67vw, 18px);
  display: flex;
  border-bottom: 2px solid #bfbfbf;
  transition: background-color 0.3s ease;
  user-select: none;
  cursor: pointer;
}

.wordsDescription {
  max-width: 800px;
  width: 100%;
  padding: 16px;
  margin: 0 auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  line-height: 1.4;
  user-select: none;
  border-radius: 16px;
  background-color: rgba(230, 190, 190, 0.5);
  color: black;
  margin-bottom: 12px;
}

.element-section {
  background-color: #cccccc;
  color: #000000;
}

.element-topic {
  padding-left: 32px !important;
  background-color: #e7e7e7;
  color: #000000;
}

.element-subtopic {
  background-color: #e7e7e7;
  color: #000000;
}

.element-task {
  background-color: #e0e0e0;
  color: #000000;
}

.not-finished {
  background-color: #e8dcdc;
}

.element-percent {
  padding: 5px;
  border: 1px solid grey;
}

.started {
  background-color: transparent;
  color: #000000;
}

.completed {
  background-color: #a7cba1;
  color: #000000;
}

.success {
  background-color: #cce0c7 !important;
  color: #000000;
}

.vocabluary {
  background-color: #4d7a4d !important;
  color: #000000;
}

.error {
  background-color: rgba(230, 190, 190, 0.5) !important;
  color: #000000;
}

.blocked {
  background-color: #f5f5f5;
  color: #000000;
}

.progress {
  background-color: #d7d470;
  color: #000000;
}

.started.completed {
  background: linear-gradient(to right, transparent 50%, #a7cba1 50%);
}

.started.progress {
  background: linear-gradient(to right, transparent 50%, #d7d470 50%);
}

.completed.progress {
  background: linear-gradient(to right, #a7cba1 50%, #d7d470 50%);
}

.started.completed {
  background: linear-gradient(to right, transparent 50%, #a7cba1 50%);
}

.element-subject-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  line-height: 1.4;
  font-size: 20px;
}

.element-icon {
  display: block;
  width: 40%;
  height: auto;
  object-fit: contain;
  margin-right: 16px;
  flex-shrink: 0;
  border-radius: 12px;
}

.element-name {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  white-space: normal;
  word-break: break-word;
  margin: 8px;
}

.element-word {
  display: flex;
  flex: 1 1 auto;
  white-space: normal;
  word-break: break-word;
  padding: 8px;
  width: 50%;
}

.element-options {
  display: flex;
  align-items: center;
  white-space: nowrap;
  flex-shrink: 0;
  word-break: normal;
  word-wrap: normal;
  margin: 8px;
  gap: 6px;
}

.element:last-child {
  border-bottom: none;
}

.element-subject {
  background-color: #f9f9f9;
  align-items: flex-start;
  padding: 12px;
}

.element-subject:hover {
  background-color: #ece3fb;
}

.element-title {
  font-weight: bold;
}

.element-title-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
}

.word-default {
  background-color: #e7e7e7;
}

.btnSubjectOptionsEdit {
  align-self: flex-end;
  margin-top: 12px;
  padding: 10px 12px !important;
}

.element-title-container > div {
  white-space: nowrap;
}

.percent {
  font-weight: bold;
}

.btnElement {
  cursor: pointer;
  flex-shrink: 0;
}

/*
.btnElement > .play {
  fill: currentColor;
  stroke: none;
}
*/

@media (max-width: 768px) {
  .element-subject-options {
    font-size: 18px;
  }

  .button {
    font-size: 16px;
  }

  .element-topic {
    padding-left: 24px !important;
  }
}